body {
    font-family: cursive;
    margin: 0;
    padding: 0;
    background-color: #ffb3d9;
}

header{
    text-align: center;
}

nav ul{
    list-style: none;
    padding: 0;
 }

 nav li{
    display: inline;
    margin: 0 15px;
    color: black;
 }

 main{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr) );
    gap: 20px;

 }